{block content}

<div class="container mt-4">

    <h1 class="mb-4">Nový příspěvek</h1>

    <div class="card shadow-sm">
        <div class="card-body">
            {control postForm}
        </div>
    </div>

</div>
